body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    background-image: linear-gradient(to bottom, #284455,  #3e6074, #628196, #e4b485, #f1d7bd);
}

.container {
    /*margin-top: 3%;*/
    flex:1; /*Stretches the .container on the screen, so the footer is staying on the bottom*/

   display: flex;   /*This part (3 lines) is centering the .inner-container*/
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.inner-container {
    /*background-color: #d17b24;*/
    display:flex;       
    flex-wrap: wrap;   
}
.title {
    position:relative;
    margin-bottom: 30px;
    font-variant-caps:petite-caps;
}
button {
    background-color: #284455;
    color: aliceblue;
    border-style:solid;
    border-radius: 20px;
    padding: 10px;
    border-color: #e4b485;
    font-variant-caps: all-petite-caps;
}

button:hover {
    cursor:pointer;
    background-color: #e4b485;
}

.card {     
    min-width: 220px;
    min-height: 240px; 

    /*resize: both;  Doesn't work wit the images resizing*/
    /*width:30vw;  Allows to shrink the images, but cancel flex-wrap: wrap; 
    height:30vh; */ 
}

.scissors:hover,
.paper:hover,
.rock:hover{    
    cursor:pointer;
}
.scissors:focus,
.paper:focus,
.rock:focus {
    box-shadow:
    inset 5px 5px 10px#496070,
    inset -5px -5px 10px #7e9cad;
}
.newClass {
    box-shadow: inset 5px 5px 10px #496070,
     inset -5px -5px 10px #7e9cad;
    background-image: linear-gradient( to bottom, rgba( 72, 105, 125, 1),  rgba(127, 142, 149, 1));
}
.chosenDiv {
    box-shadow: 5px 5px 5px 7px rgb(43, 96, 145);
}

img {     
    width: 200px;
    height: 220px;
    border-radius: 10%;
    background-image: linear-gradient( to bottom, rgba( 92, 124, 145, 1),  rgba(127, 142, 149, 1));

    box-shadow:
    5px 5px 10px#496070,
    -5px -5px 10px #7e9cad;

    /*max-width:100%;
    height:auto;
    max-height:100%;*/
}

.footer {
    /*margin: 0;*/
    text-align: center;
    background-color: #f3df9e;
    font-variant-caps: all-petite-caps;
}